/* Animate */
.gt-animate-overlay {animation:animatedimmed 0.2s forwards}
@keyframes animatedimmed {
	0% {background:rgba(0,0,0,0)}
	100%{background:rgba(0,0,0,0.75)}
}

.gt-modal {
	.gt-animate-opacity {animation:animatepopup 0.2s forwards}
	@keyframes animatepopup {
		0% { transform:scale(0.94); opacity:0 }
		100% { transform:scale(1); opacity:1 }
	}

	.gt-animate-top { position:relative; animation:animatetop 0.3s }
	@keyframes animatetop {
		from { top: -300px; opacity: 0 }
		to { top: 0; opacity: 1 }
	}

	.gt-animate-left { position:relative; animation:animateleft 0.3s }
	@keyframes animateleft {
		from { left: -300px; opacity: 0 }
		to { left: 0; opacity: 1 }
	}

	.gt-animate-right { position:relative; animation:animateright 0.3s }
	@keyframes animateright {
		from { right: -300px; opacity: 0 }
		to { right: 0; opacity: 1 }
	}

	.gt-animate-bottom { position:relative; animation:animatebottom 0.3s }
	@keyframes animatebottom {
		from { bottom: -300px; opacity: 0 }
		to { bottom: 0; opacity: 1 }
	}

	.gt-animate-zoom { animation: animatezoom 0.3s }
	@keyframes animatezoom {
		from { transform: scale(0) }
		to { transform: scale(1) }
	}
}
