/*button*/
.gt-button, .gt-btn {
	display:inline-block;
	padding:8px 16px;
	background-color: $gray-999;
	text-align:center;
	overflow:hidden;
	vertical-align:middle;
	text-decoration:none;
	white-space:nowrap;
	color: $white;
	cursor:pointer;
	transition-duration:.3s;
	vertical-align: top;
	border: 1px solid transparent;
	user-select: none;

	&.gt-button-outline, &.gt-btn-outline {
		color: $gray-666;
    	background-color: $white;
    	border-color: $gray-ccc;
    	&:hover {
			color: $white;
			background: $gray-ccc;
		}
	}

	&.gt-button-outline-primary, &.gt-btn-outline-primary {
		color: $primary;
		border-color: $primary;
		&:hover {
			color: $white;
			background: $primary;
		}
	}

	&.gt-button-outline-success, &.gt-btn-outline-success {
		color: $success;
		border-color: $success;
		&:hover {
			color: $white;
			background: $success;
		}
	}

	&.gt-button-outline-info, &.gt-btn-outline-info {
		color: $info;
		border-color: $info;
		&:hover {
			color: $white;
			background: $info;
		}
	}

	&.gt-button-outline-warning, &.gt-btn-outline-warning {
		color: $warning;
		border-color: $warning;
		&:hover {
			color: $white;
			background: $warning;
		}
	}

	&.gt-button-outline-danger, &.gt-btn-outline-danger {
		color: $danger;
		border-color: $danger;
		&:hover {
			color: $white;
			background: $danger;
		}
	}

	&.gt-button-outline-primary, &.gt-btn-outline-primary,
	&.gt-button-outline-success, &.gt-btn-outline-success,
	&.gt-button-outline-info, &.gt-btn-outline-info,
	&.gt-button-outline-warning, &.gt-btn-outline-warning,
	&.gt-button-outline-danger, &.gt-btn-outline-danger {
		background-color: $white;
	}

	&.gt-button-primary, &.gt-btn-primary {
		background-color: $primary;
	}

	&.gt-button-success, &.gt-btn-success {
		background-color: $success;
	}

	&.gt-button-info, &.gt-btn-info {
		background-color: $info;
	}

	&.gt-button-warning, &.gt-btn-warning {
		background-color: $warning;
	}

	&.gt-button-danger, &.gt-btn-danger {
		background-color: $danger;
	}

	//disabled
	&.gt-button[disabled], &.gt-btn[disabled],
	&.gt-button-disabled, &.gt-btn-disabled,
	&.gt-button-disabled:hover,
	&.gt-button-disabled:focus,
	&.gt-button-disabled:active {
		cursor: not-allowed;
		opacity: .5;
	}

	&.gt-button-block, &.gt-btn-block {
		width: 100%;
		display: block;
	}

}
