.gt-left { float: left !important; }

.gt-right { float: right !important; }

.gt-left-align { text-align: left !important; }

.gt-right-align { text-align: right !important; }

.gt-justify { text-align: justify; }

.gt-center { text-align: center; }

.gt-bold { font-weight: bold; }

.gt-vertical-top { vertical-align: top; }

.gt-vertical-middle { vertical-align: middle; }

.gt-vertical-bottom { vertical-align: bottom; }

.gt-block { display: block; width: 100%; }

.gt-inline-block { display: inline-block; }

.gt-hide { display: none; }

.gt-tiny { font-size: 10px; }

.gt-small { font-size: 12px; }

.gt-medium { font-size: 14px; }

.gt-large { font-size: 16px; }

.gt-xlarge { font-size: 24px; }

.gt-xxlarge { font-size: 36px; }

.gt-xxxlarge { font-size: 48px; }

.gt-huge { font-size: 64px; }

.gt-border-none, .gt-border-0 { border: 0; }

.gt-border { border: 1px solid #ccc; }

.gt-border-top { border-top: 1px solid #ccc; }

.gt-border-bottom { border-bottom: 1px solid #ccc; }

.gt-border-left { border-left: 1px solid #ccc; }

.gt-border-right { border-right: 1px solid #ccc; }

.gt-round-none, .gt-round-0 { border-radius: 0; }

.gt-round-small { border-radius: 2px; }

.gt-roundm, .gt-round-medium { border-radius: 4px; }

.gt-round-large { border-radius: 8px; }

.gt-round-xlarge { border-radius: 16px; }

.gt-round-xxlarge { border-radius: 32px; }

.gt-circle { border-radius: 50%; }

.gt-padding-small { padding: 4px 8px; }

.gt-padding, .gt-padding-medium { padding: 8px 16px; }

.gt-padding-large { padding: 12px 24px; }

.gt-padding-xlarge { padding: 16px 32px; }

.gt-padding-xxlarge { padding: 20px 36px; }

.gt-padding-none, .gt-padding-0 { padding: 0; }

.gt-padding-left-none, .gt-padding-left-0 { padding-left: 0; }

.gt-padding-right-none, .gt-padding-right-0 { padding-right: 0; }

.gt-padding-top-none, .gt-padding-top-0 { padding-top: 0; }

.gt-padding-bottom-none, .gt-padding-bottom-0 { padding-bottom: 0; }

.gt-image { max-width: 100%; }

.gt-rest { overflow: hidden; }

.gt-row:before, .gt-row:after, .gt-cell-row:before, .gt-cell-row:after, .gt-clear:after, .gt-clear:before { content: ""; display: table; clear: both; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/* Colors */
.gt-light-blue { background-color: #89c6e1 !important; }

.gt-blue { background-color: #2598e7 !important; }

.gt-deep-blue { background-color: #00519e !important; }

.gt-yellow { background-color: #f9b200 !important; }

.gt-orange { background-color: #f7851c !important; }

.gt-deep-orange { background-color: #e75113 !important; }

.gt-red { background-color: #f44336 !important; }

.gt-green { background-color: #94c11e !important; }

.gt-pink { background-color: #e91e63 !important; }

.gt-teal { background-color: #009688 !important; }

.gt-indigo { background-color: #00529e !important; }

.gt-brown { background-color: #795548 !important; }

.gt-cyan { background-color: #00bcd4 !important; }

.gt-purple { background-color: #9c27b0 !important; }

.gt-lime { background-color: #cddc39 !important; }

.gt-khaki { background-color: #f0e68c !important; }

.gt-amber { background-color: #ffd740 !important; }

.gt-beige { background-color: #e6daa6 !important; }

.gt-gray-eee { background-color: #eee !important; }

.gt-gray-ddd { background-color: #ddd !important; }

.gt-gray-ccc { background-color: #ccc !important; }

.gt-gray-999 { background-color: #999 !important; }

.gt-gray-666 { background-color: #666 !important; }

.gt-gray-333 { background-color: #333 !important; }

.gt-blue-gray { background-color: #455a64 !important; }

.gt-gray { background-color: #808080 !important; }

.gt-black, .gt-000 { background-color: #000 !important; }

.gt-white, .gt-fff { background-color: #fff !important; }

.gt-text-light-blue { color: #89c6e1 !important; }

.gt-text-blue { color: #2598e7 !important; }

.gt-text-deep-blue { color: #00519e !important; }

.gt-text-yellow { color: #f9b200 !important; }

.gt-text-orange { color: #f7851c !important; }

.gt-text-deep-orange { color: #e75113 !important; }

.gt-text-red { color: #f44336 !important; }

.gt-text-green { color: #94c11e !important; }

.gt-text-pink { color: #e91e63 !important; }

.gt-text-teal { color: #009688 !important; }

.gt-text-indigo { color: #00529e !important; }

.gt-text-brown { color: #795548 !important; }

.gt-text-cyan { color: #00bcd4 !important; }

.gt-text-purple { color: #9c27b0 !important; }

.gt-text-lime { color: #cddc39 !important; }

.gt-text-khaki { color: #f0e68c !important; }

.gt-text-amber { color: #ffd740 !important; }

.gt-text-beige { color: #e6daa6 !important; }

.gt-text-gray-eee { color: #eee !important; }

.gt-text-gray-ddd { color: #ddd !important; }

.gt-text-gray-ccc { color: #ccc !important; }

.gt-text-gray-999 { color: #999 !important; }

.gt-text-gray-666 { color: #666 !important; }

.gt-text-gray-333 { color: #333 !important; }

.gt-text-gray { color: #808080 !important; }

.gt-text-blue-gray { color: #455a64 !important; }

.gt-text-black, .gt-text-000 { color: #000 !important; }

.gt-text-white, .gt-text-fff { color: #fff !important; }

.gt-border-light-blue { border-color: #89c6e1 !important; }

.gt-border-blue { border-color: #2598e7 !important; }

.gt-border-deep-blue { border-color: #00519e !important; }

.gt-border-yellow { border-color: #f9b200 !important; }

.gt-border-orange { border-color: #f7851c !important; }

.gt-border-deep-orange { border-color: #e75113 !important; }

.gt-border-red { border-color: #f44336 !important; }

.gt-border-green { border-color: #94c11e !important; }

.gt-border-pink { border-color: #e91e63 !important; }

.gt-border-teal { border-color: #009688 !important; }

.gt-border-indigo { border-color: #00529e !important; }

.gt-border-brown { border-color: #795548 !important; }

.gt-border-cyan { border-color: #00bcd4 !important; }

.gt-border-purple { border-color: #9c27b0 !important; }

.gt-border-lime { border-color: #cddc39 !important; }

.gt-border-khaki { border-color: #f0e68c !important; }

.gt-border-amber { border-color: #ffd740 !important; }

.gt-border-beige { border-color: #e6daa6 !important; }

.gt-border-gray-eee { border-color: #eee !important; }

.gt-border-gray-ddd { border-color: #ddd !important; }

.gt-border-gray-ccc { border-color: #ccc !important; }

.gt-border-gray-999 { border-color: #999 !important; }

.gt-border-gray-666 { border-color: #666 !important; }

.gt-border-gray-333 { border-color: #333 !important; }

.gt-border-gray { border-color: #808080 !important; }

.gt-border-blue-gray { border-color: #455a64 !important; }

.gt-border-black, .gt-border-000 { border-color: #000 !important; }

.gt-border-white, .gt-border-fff { border-color: #fff !important; }

/*button*/
.gt-button, .gt-btn { display: inline-block; padding: 8px 16px; background-color: #eee; text-align: center; overflow: hidden; vertical-align: middle; text-decoration: none; white-space: nowrap; border: 0; outline: 0; color: inherit; cursor: pointer; transition-duration: .3s; vertical-align: top; }
.gt-button:hover, .gt-btn:hover { background-color: #ccc; }
.gt-button.gt-button-outline, .gt-button.gt-btn-outline, .gt-btn.gt-button-outline, .gt-btn.gt-btn-outline { background-color: #fff; border: 1px solid #ccc; padding: 7px 16px; }
.gt-button.gt-button-outline:hover, .gt-button.gt-btn-outline:hover, .gt-btn.gt-button-outline:hover, .gt-btn.gt-btn-outline:hover { border-color: #999; }
.gt-button.gt-button-primary, .gt-button.gt-btn-primary, .gt-btn.gt-button-primary, .gt-btn.gt-btn-primary { background-color: #2598e7; color: #fff; }
.gt-button.gt-button-primary:hover, .gt-button.gt-btn-primary:hover, .gt-btn.gt-button-primary:hover, .gt-btn.gt-btn-primary:hover { background-color: #00519e; color: #fff; }
.gt-button.gt-button-success, .gt-button.gt-btn-success, .gt-btn.gt-button-success, .gt-btn.gt-btn-success { background-color: #94c11e; color: #fff; }
.gt-button.gt-button-success:hover, .gt-button.gt-btn-success:hover, .gt-btn.gt-button-success:hover, .gt-btn.gt-btn-success:hover { background-color: #cddc39; color: #fff; }
.gt-button.gt-button-info, .gt-button.gt-btn-info, .gt-btn.gt-button-info, .gt-btn.gt-btn-info { background-color: #009688; color: #fff; }
.gt-button.gt-button-info:hover, .gt-button.gt-btn-info:hover, .gt-btn.gt-button-info:hover, .gt-btn.gt-btn-info:hover { background-color: #00bcd4; color: #fff; }
.gt-button.gt-button-warning, .gt-button.gt-btn-warning, .gt-btn.gt-button-warning, .gt-btn.gt-btn-warning { background-color: #f9b200; color: #fff; }
.gt-button.gt-button-warning:hover, .gt-button.gt-btn-warning:hover, .gt-btn.gt-button-warning:hover, .gt-btn.gt-btn-warning:hover { background-color: #f7851c; color: #fff; }
.gt-button.gt-button-danger, .gt-button.gt-btn-danger, .gt-btn.gt-button-danger, .gt-btn.gt-btn-danger { background-color: #f44336; color: #fff; }
.gt-button.gt-button-danger:hover, .gt-button.gt-btn-danger:hover, .gt-btn.gt-button-danger:hover, .gt-btn.gt-btn-danger:hover { background-color: #e91e63; color: #fff; }
.gt-button.gt-button[disabled], .gt-button.gt-button-disabled, .gt-button.gt-btn-disabled, .gt-button.gt-button-disabled:hover, .gt-button.gt-button-disabled:focus, .gt-button.gt-button-disabled:active, .gt-btn.gt-button[disabled], .gt-btn.gt-button-disabled, .gt-btn.gt-btn-disabled, .gt-btn.gt-button-disabled:hover, .gt-btn.gt-button-disabled:focus, .gt-btn.gt-button-disabled:active { cursor: not-allowed; opacity: .5; }

/* grid */
.gt-row .gt-col { float: left; width: 100%; }
.gt-row .gt-s1 { width: 8.33333%; }
.gt-row .gt-s2 { width: 16.66666%; }
.gt-row .gt-s3 { width: 24.99999%; }
.gt-row .gt-s4 { width: 33.33333%; }
.gt-row .gt-s5 { width: 41.66666%; }
.gt-row .gt-s6 { width: 49.99999%; }
.gt-row .gt-s7 { width: 58.33333%; }
.gt-row .gt-s8 { width: 66.66666%; }
.gt-row .gt-s9 { width: 74.99999%; }
.gt-row .gt-s10 { width: 83.33333%; }
.gt-row .gt-s11 { width: 91.66666%; }
.gt-row .gt-s12 { width: 99.99999%; }
@media (min-width: 1024px) { .gt-row .gt-m1 { width: 8.33333%; }
  .gt-row .gt-m2 { width: 16.66666%; }
  .gt-row .gt-m3 { width: 24.99999%; }
  .gt-row .gt-m4 { width: 33.33333%; }
  .gt-row .gt-m5 { width: 41.66666%; }
  .gt-row .gt-m6 { width: 49.99999%; }
  .gt-row .gt-m7 { width: 58.33333%; }
  .gt-row .gt-m8 { width: 66.66666%; }
  .gt-row .gt-m9 { width: 74.99999%; }
  .gt-row .gt-m10 { width: 83.33333%; }
  .gt-row .gt-m11 { width: 91.66666%; }
  .gt-row .gt-m12 { width: 99.99999%; } }
@media (min-width: 1200px) { .gt-row .gt-l1 { width: 8.33333%; }
  .gt-row .gt-l2 { width: 16.66666%; }
  .gt-row .gt-l3 { width: 24.99999%; }
  .gt-row .gt-l4 { width: 33.33333%; }
  .gt-row .gt-l5 { width: 41.66666%; }
  .gt-row .gt-l6 { width: 49.99999%; }
  .gt-row .gt-l7 { width: 58.33333%; }
  .gt-row .gt-l8 { width: 66.66666%; }
  .gt-row .gt-l9 { width: 74.99999%; }
  .gt-row .gt-l10 { width: 83.33333%; }
  .gt-row .gt-l11 { width: 91.66666%; }
  .gt-row .gt-l12 { width: 99.99999%; } }

/* modal */
.gt-modal-wrapper { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.gt-modal-wrapper .gt-modal { z-index: 1010; padding-top: 10%; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; }
.gt-modal-wrapper .gt-modal-content { position: relative; margin: auto; padding: 0; background: #fff; width: 90%; }
.gt-modal-wrapper .gt-modal-header { padding: 10px 16px; }
.gt-modal-wrapper .gt-modal-body { padding: 30px; }
@media screen and (min-width: 768px) { .gt-modal-wrapper .gt-modal-content { width: 80%; } }
@media screen and (min-width: 1024px) { .gt-modal-wrapper .gt-modal-content { width: 70%; } }
@media screen and (min-width: 1200px) { .gt-modal-wrapper .gt-modal-content { width: 800px; } }

.gt-modal { display: none; }

.gt-cell-row { display: table; width: 100%; }
.gt-cell-row .gt-cell { display: table-cell; }
.gt-cell-row .gt-cell-top { vertical-align: top; }
.gt-cell-row .gt-cell-middle { vertical-align: middle; }
.gt-cell-row .gt-cell-bottom { vertical-align: bottom; }

.gt-display-container { position: relative; }

.gt-display-topleft { position: absolute; left: 0; top: 0; }

.gt-display-topright { position: absolute; right: 0; top: 0; }

.gt-display-bottomleft { position: absolute; left: 0; bottom: 0; }

.gt-display-bottomright { position: absolute; right: 0; bottom: 0; }

.gt-display-middle { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); }

.gt-display-left { position: absolute; top: 50%; left: 0%; transform: translate(0%, -50%); -ms-transform: translate(0%, -50%); }

.gt-display-right { position: absolute; top: 50%; right: 0%; transform: translate(0%, -50%); -ms-transform: translate(0%, -50%); }

.gt-display-topmiddle { position: absolute; left: 50%; top: 0; transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); }

.gt-display-bottommiddle { position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); }

/* pagination */
.gt-pagination { display: inline-block; }
.gt-pagination .gt-pagination-nav { float: left; padding: 8px 16px; color: #808080; text-decoration: none; }
.gt-pagination .gt-pagination-nav:hover { background: #ccc; color: #fff; }
.gt-pagination .gt-pagination-nav.gt-active { background: #2598e7; color: #fff; }

.gt-input { padding: 8px; display: inline-block; border: 1px solid #ddd; min-height: 34px; }
.gt-input[readonly], .gt-input.gt-disabled { background-color: #eee; cursor: not-allowed; }

.gt-select { padding: 7px; display: inline-block; border: 1px solid #ddd; min-height: 34px; }

.gt-checkbox { width: 20px; height: 20px; }
.gt-checkbox.gt-disabled { opacity: .4; cursor: not-allowed; }

/*table*/
.gt-table, .gt-table-all { display: table; width: 100%; border-spacing: 0; border-collapse: collapse; }
.gt-table th, .gt-table td, .gt-table-all th, .gt-table-all td { padding: 8px 8px; display: table-cell; text-align: left; }

.gt-table-all { border: 1px solid #ddd; }
.gt-table-all tr { border-bottom: 1px solid #ddd; }
.gt-table-all tr:nth-child(odd) { background-color: #fff; }
.gt-table-all tr:nth-child(even) { background-color: #eee; }

.gt-centered tr th, .gt-centered tr td { text-align: center; }

.gt-bordered tr { border-bottom: 1px solid #ddd; }

.gt-striped tbody tr:nth-child(even) { background-color: #eee; }

.gt-hoverable tbody tr:hover { background-color: #ddd; }

/*panel*/
.panel { margin: 0 8px 8px; border: 1px solid #ddd; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
.panel .panel-heading { position: relative; padding: 10px 15px; color: #333; background-color: #eee; overflow: hidden; }
.panel .panel-body { padding: 15px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; }
.panel .panel-footer { padding: 10px 15px; background-color: #eee; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel:after, .panel:before { display: block; clear: both; content: ""; }

/* tab */
.gt-tab .gt-tab-nav .gt-nav-item { float: left; padding: 10px 20px; background-color: #eee; }
.gt-tab .gt-tab-nav .gt-nav-item.gt-active { background-color: #2598e7; }
.gt-tab .gt-tab-nav .gt-nav-item.gt-active a { color: #fff; }
.gt-tab .gt-tab-nav:before, .gt-tab .gt-tab-nav:after { display: block; clear: both; content: ""; }

.gt-animate-fading { animation: fading 10s infinite; }

@keyframes fading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
.gt-animate-opacity { animation: opac 0.8s; }

@keyframes opac { from { opacity: 0; }
  to { opacity: 1; } }
.gt-animate-top { position: relative; animation: animatetop 0.4s; }

@keyframes animatetop { from { top: -300px; opacity: 0; }
  to { top: 0; opacity: 1; } }
.gt-animate-left { position: relative; animation: animateleft 0.4s; }

@keyframes animateleft { from { left: -300px; opacity: 0; }
  to { left: 0; opacity: 1; } }
.gt-animate-right { position: relative; animation: animateright 0.4s; }

@keyframes animateright { from { right: -300px; opacity: 0; }
  to { right: 0; opacity: 1; } }
.gt-animate-bottom { position: relative; animation: animatebottom 0.4s; }

@keyframes animatebottom { from { bottom: -300px; opacity: 0; }
  to { bottom: 0; opacity: 1; } }
.gt-animate-zoom { animation: animatezoom 0.4s; }

@keyframes animatezoom { from { transform: scale(0); }
  to { transform: scale(1); } }
